<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/css/main.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/Library/css/demo.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeu de pente</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3 player1">
                    <img src="/stylesheets/img/player1.svg" alt="PLAYER ONE">

                    <h3> player1 </h3>
                </div>
                <div class="col s6 counter">
                    <div class="countdown countdown-container container">
                        <div class="clock row">
                            <div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                                <p class="info">Temps Coups</p>
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-seconds" class="clock-canvas"></div>
                                        <div class="text">
                                            <p class="val">0</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="countdown countdown-container container">
                        <div class="clock row">
                            <div class="clock-item clock-minutes countdown-time-value col-sm-6 col-md-3">
                                <p class="info2">Fin de Partie</p>
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-minutes" class="clock-canvas top"></div>
                                        <div class="text">
                                            <p class="val">0</p>
                                            <div class="clock-item clock-seconds-m countdown-time-value col-sm-6 col-md-3">
                                                <div class="wrap">
                                                    <div class="inner">
                                                        <div id="canvas-seconds-m" class="clock-canvas-m"></div>
                                                        <div class="text">
                                                            <p class="val_seconds">0</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3 player2">

                    <h3> player2 </h3>
                    <img src="/stylesheets/img/player2.svg" alt="PLAYER TWO">
                </div>
            </div>
        </div>
    </nav>
    <div class="ten">
        <p class="nbCoupJ1">Tenailles: <span id="valueTJ1"></span></p>
        <p class="nbCoupJ2">Tenailles: <span id="valueTJ2"></span></p>
    </div>
    <section class="boardSection">
        <div id="whoPlays"></div>
        <div class="row">
            <div class="col s12">
                <div class="col s2"></div>
                <div class="col s8 center">
                    <div id="board"></div>
                </div>
                <div class="col s2"></div>
            </div>
        </div>
    </section>
    <a class="waves-effect waves-light btn btnModal" href="#modalFinPartie">Modal</a>
    <div id="modalFinPartie" class="modal">
        <div class="modal-content">
            <h4 id="contenuFinPartie"></h4>
        </div>
    </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/Library/js/kinetic.js"></script>
    <script type="text/javascript" src="/Library/js/countdownMinute.js"></script>
    <script type="text/javascript" src="/Library/js/jquery.final-countdown.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                    document.getElementsByClassName('btnModal').onclick = function func() {
                        $('.modal').modal();
                    }
                }

                $('.countdown').final_countdown({
                    // 'start': 1491913548,
                    // 'end': 1491913558,
                    // 'now': 1491913558
                    'start': 1362139200,
                    'end': 1388461320,
                    'now': 1387461319
                }); $('.countdownS').final_countdown_secondes({
                    'startS': 1491913548,
                    'endS': 1491342348,
                    'nowS': 1491913618
                });

                function refreshData(callback) {
                    var intervalHolder = setInterval(function() {
                        $.ajax({
                            url: "http://" + window.location.host + "/turn/" + <%= id %>,
                            success: function(data) {
                                callback(data);
                            },
                            error: function() {
                                clearInterval(intervalHolder);
                                window.location.href = "http://" + window.location.host;
                            }
                        });
                    }, 500); //0.5 seconds
                }

                function clickOnCell(i, j) {
                    $.ajax({
                        url: "http://" + window.location.host + "/play/" + i + "/" + j + "/" + <%= id %>
                    });
                }

                function arrayToTable(tableData) {
                    var table = $('<table cellpadding="0" cellspacing="0"></table>');
                    $(tableData).each(function(i, rowData) {
                        var row = $('<tr></tr>');
                        $(rowData).each(function(j, cellData) {
                            if (cellData == 0)
                                if (i == 6 && j == 6 || i == 6 && j == 12 || i == 12 && j == 6 || i == 12 && j == 12) {
                                    row.append($('<td class="case" onClick="clickOnCell(' + i + ',' + j + ')"><img src="/stylesheets/img/background-dot.jpg"/></td>'));
                                } else {
                                    row.append($('<td class="case" onClick="clickOnCell(' + i + ',' + j + ')"><img src="/stylesheets/img/background.jpg"/></td>'));
                                }
                            if (cellData == 1)
                                row.append($('<td class="case" onClick="clickOnCell(' + i + ',' + j + ')"><img src="/stylesheets/img/black.jpg"/></td>'));
                            if (cellData == 2)
                                row.append($('<td class="case" onClick="clickOnCell(' + i + ',' + j + ')"><img src="/stylesheets/img/white.jpg"/></td>'));
                        });
                        table.append(row);
                    });
                    return table;
                }

                function setData(result) {
                    var mydata = eval(result);
                    if (mydata) {
                        var table = arrayToTable(mydata.tableau);
                        getInfos(setInfos);
                        $("#board").html(table);
                        if (mydata.status == 1)
                            $("#whoPlays").html("<div class='toast'>A toi de jouer !</div>");
                        else
                            $("#whoPlays").html("<div class='toast'>Merci de patienter...</div>");

                        $('#valueTJ1').html(mydata.nbTenaillesJ1);
                        $('#valueTJ2').html(mydata.nbTenaillesJ2);

                        if (mydata.finPartie) {

                            $('.btnModal').click();
                            $('#contenuFinPartie').html(mydata.detailFinPartie);
                        }
                    } else {
                        $("#whoPlays").html("<div class='toast'>En attente d'un autre joueur...</div>");
                    }
                }

                function setInfos(result) {
                    var mydata = eval(result);
                    if (mydata) {
                        $("#player1").html(result.player1);
                        $("#player2").html(result.player2);
                    }
                }

                function getInfos(callback) {
                    $.ajax({
                        url: "http://" + window.location.host + "/infos",
                        success: function(data) {
                            callback(data);
                        }
                    });
                }

                refreshData(setData);
    </script>
</body>

</html>
