<!DOCTYPE html>
<html>

<head>
    <title>
        Hello
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>
    <script>
        function refreshData(callback) {
            var intervalHolder = setInterval(function() {
                $.ajax({
                    url: "http://" + window.location.host + "/turn/" + <%= id %>,
                    success: function(data) {
                        callback(data);
                    },
                    error: function() {
                        clearInterval(intervalHolder);
                        window.location.href = "http://" + window.location.host;
                    }
                });
            }, 500); //0.5 seconds
        }

        function clickOnCell(i, j) {
            $.ajax({
                url: "http://" + window.location.host + "/play/" + i + "/" + j + "/" + <%= id %>
            });
        }

        function arrayToTable(tableData) {
            var table = $('<table cellpadding="0" cellspacing="0"></table>');
            $(tableData).each(function(i, rowData) {
                var row = $('<tr></tr>');
                $(rowData).each(function(j, cellData) {
                    if (cellData == 0)
                        row.append($('<td onClick="clickOnCell(' + i + ',' + j + ')"><img src="https://raw.githubusercontent.com/jobslong/go-game/master/line.png"/></td>'));
                    if (cellData == 1)
                        row.append($('<td onClick="clickOnCell(' + i + ',' + j + ')"><div class="circleb"></div></td>'));
                    if (cellData == 2)
                        row.append($('<td onClick="clickOnCell(' + i + ',' + j + ')"><div class="circlew"></div></td>'));
                });
                table.append(row);
            });
            return table;
        }

        function setData(result) {
            var mydata = eval(result);
            if (mydata) {
                var table = arrayToTable(mydata.tableau);
                $("#board").html(table);
                if (mydata.status == 1)
                    $("#whoPlays").html("A toi de jouer !");
                else
                    $("#whoPlays").html("Merci de patienter...");
            } else {
                $("#board").html("En attente d'un autre joueur...");
            }
        }

        refreshData(setData);
    </script>
    <p id="whoPlays"></p>
    <div id="board"></div>
</body>

</html>

</html>
