<!DOCTYPE html>
<html>

<head>
    <title>
        Hello
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/index.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('#button').click(function(e) {
                var inputvalue = $("#input").val();
                $.ajax({
                    url: "http://localhost:3000/connect/" + inputvalue
                }).then(function(data) {
                    window.location.href = "http://localhost:3000/board/" + data.idJoueur;
                });
            });
        });
    </script>
</head>

<body>

    <input type="text" placeholder="Entrez une ville" id="input">
    <button type="button" id="button">Connexion</button>
</body>

</html>
