<!DOCTYPE html>
<html>

<head>
    <title>
        Hello
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hello</h1>
    <p>Hello
    </p>
    <p>La plateau se trouve <a href="/board">ici</a></p>
    <p>Les endpoints de l'API de Montpellier sont implémentés (/connect, /play, /turn)</p>
</body>

</html>
