<!DOCTYPE html>
<html>

<head>
    <title>
        Hello
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('news', function(data) {
            console.log(data);
            socket.emit('my other event', {
                my: 'data'
            });
        });
    </script>
</head>

<body>
    <h1>Hello</h1>
    <p>Hello
    </p>
    <table>
        <% for (var i  = 0; i < board.length; i++){ %>
            <tr>
                <% for (var j  = 0; j < board[i].length; j++){ %>
                    <td>
                        <%= i + " " + j %>
                    </td>
                    <%}%>
            </tr>
            <%}%>
    </table>
</body>

</html>
