#board{
  margin-top: -30px;
}
#board > table > tbody > tr > td > img{
  width: 28px !important;
  margin-bottom: -5px !important;
}
#board > table > tbody > tr > td{
  padding: 0 !important;
  text-align: center;
  cursor: pointer;
}
#board > table > tbody > tr > td:hover{
  background: none;
}
#board > table{
  width: 0;
}
.center{
  display: flex;
  justify-content: center;
}

.case{
  width: 25px;
}

.toast{
    border-radius: 2px;
    top: -65px !important;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: rgba(255,255,255,0.3) !important;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#toast-container{
  top: 17% !important;
  right: 43.7% !important;
}

#whoPlays{
  display: flex;
  justify-content: center;
  margin-top: -60px;
}
.ten{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -65px;
  color: white;
}
.ten .nbCoupJ1{
  border-radius: 2px;
  clear: both;
  position: relative;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: rgba(255,255,255,0.3) !important;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.ten .nbCoupJ2{
  border-radius: 2px;
  clear: both;
  position: relative;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: rgba(255,255,255,0.3) !important;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#contenuFinPartie{
  color: white;
  text-align: center;
}
.modal{
  background-color: rgba(255,255,255,0.8) !important;
  color: white !important;
  text-align: center;
}
.modal .modal-content{
  padding: 24px !important;
  padding-bottom: 50px !important;
}
.win_svg{
  width: 50%;
  margin-top: -70px;
  margin-bottom: -50px;
}
