* {
  font-family: arial;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

table {
  background: #E9C372;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
td:hover{
  background-color:#D8B25D
}

.circleb {
	border-radius: 50%;
	width: 40px;
	height: 40px;
  background-color:black;
	/* width and height can be anything, as long as they're equal */
}

.circlew {
	border-radius: 50%;
	width: 40px;
	height: 40px;
  background-color:white;
	/* width and height can be anything, as long as they're equal */
}
