/*

a {
  color: #00B7FF;
}

table {
  background: rgba(255,255,255,0.3);
  background:#18415F;
  width: 20% !important;
  height: 200px;
}

td {
    width: 0px;
    height: 0px;
    text-align: center;
    cursor: pointer;
}
td:hover{
  background: none;
}
.boardStyle{
  width: 100px;
  height: 100px
}*/
#board{
  margin-top: -30px;
}
#board > table > tbody > tr > td > img{
  width: 28px !important;
  margin-bottom: -5px !important;
}
#board > table > tbody > tr > td{
  padding: 0 !important;
  text-align: center;
  cursor: pointer;
}
#board > table > tbody > tr > td:hover{
  background: none;
}
#board > table{
  width: 0;
}
.center{
  display: flex;
  justify-content: center;
}

.case{
  width: 25px;
}

.toast{
  border-radius: 2px;
    top: 35px;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: rgba(255,255,255,0.3) !important;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#toast-container{
  top: 17% !important;
  right: 43.7% !important;
}

#whoPlays{
  display: flex;
  justify-content: center;
  margin-top: -60px;
}
