@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

$normal-img:"https://lh4.googleusercontent.com/-3eBjuQpOGFw/U47yh_-OycI/AAAAAAAAI2U/uaU5pK49N1w/s1600/normal.jpg";
$blurred-img:"https://lh3.googleusercontent.com/-m8TxQMObg6c/U474EWu7Y9I/AAAAAAAAI2k/xkRGoIEC1iU/s1600/blur.jpg";

body{
  background-color: #18415F;
  height: 90vh;
  margin: 2% !important;

	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;

  .blurred-bg{
  	/*#2579B1;*/
    background-color: rgba(255, 255, 255, 0.3);
  	background-repeat:no-repeat;
  	background-attachment: fixed;
  }
  .box{
  	width:50%;
  	height:100%;
    margin: 0 auto;
  	border:1px solid rgba(255,255,255,.3);
  	padding:20px;
  	text-align: center;
  	box-sizing: border-box;
    display: flex;
    justify-content: center;

    .content{

      .title{
        display: flex;
        align-items: center;
        img{
          height: 70px;
          margin-right: 40px;
        }
        h1{
         color: #FFED00;
         height: 80px;
         font-size: 4em;
        }
      }

      .player{
        height: 370px;
        display: flex;
        align-items: center;

        .player1{
          margin-right: 12%;
        }
        .player2{
          margin-left: 12%;
        }
      }

      .bouton{
        background-color: transparent;
        border: 2px #FFED00 solid;
        color: #FFED00;

        &.waves-effect{
          -webkit-tap-highlight-color: #FFED00 !important;
        }
      }
    }
  }
  h1,h2,a,p{
  	color:white;
  	font-weight:100;

  	.tinted &{
  		color:black;
  	}
  }
  h2{ font-size: 14px }
  p{
    margin: 20px;
    &.related{
      text-transform: uppercase;
      font-weight: 700;
      color: #444;

      a{
        font-weight: 700;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}

@media only screen and ( max-width : 600px ){
    body{
        height: 89vh;
        margin: 2% !important;

        .box{
            width:100%;
            border:1px solid rgba(1,255,255,.3);
            text-align: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;

            .content{
                .title{
                    img{
                        height: 50px;
                        margin-right: 40px;
                    }
                    h1{
                        height: 50px;
                        font-size: 2.3em;
                    }
                }
                .player{
                      height: 320px;
                      display: flex;
                      align-items: center;

                    .player1{
                        margin-right: 12%;
                    }
                    .player2{
                        margin-left: 12%;
                    }
                }
            }
        }
    }
}
